@media (max-width: 87.5em) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  /*-------------------------------------------------------------*/
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  /*-------------------------------------------------------------*/
  .header-nav-mb {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .header-nav-mb .navbar-item {
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .header-nav-mb .navbar-item + .navbar-item {
    margin-left: 15px;
  }
}
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  /*-------------------------------------------------------------*/
  #main {
    padding-bottom: 35px;
  }

  .top-main-mb img {
    width: 100%;
  }

  .main-block {
    padding-top: 24px;
  }
  .main-block .heading-primary {
    font-size: 18px;
    line-height: 26px;
  }
  .main-block .container-block {
    margin-top: 20px;
  }
  .main-block .see-more {
    font-size: 12px;
  }

  .updated-works .container-block,
.dedicated-works .container-block {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .updated-works .container-block-content,
.dedicated-works .container-block-content {
    margin-top: 10px;
  }
  .updated-works .container-block-heading,
.dedicated-works .container-block-heading {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .updated-works .container-block-author,
.dedicated-works .container-block-author {
    display: none;
  }

  .most-read-works .container-block {
    display: block;
  }
  .most-read-works .container-block .col {
    width: 100%;
  }
  .most-read-works .container-block .col-title {
    font-size: 15px;
    line-height: 21px;
    color: #6d1d1d;
  }
  .most-read-works .col-item-heading {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  .most-read-works .col-item-author {
    margin-bottom: 2px;
  }

  .stories-chapters .heading-primary {
    border-bottom: none;
    text-align: center;
  }
  .stories-chapters .item-heading {
    font-size: 14px;
    line-height: 22px;
  }

  .footer-container p {
    font-size: 14px;
  }

  .dedicated-works .swiper-pagination {
    bottom: -34px;
  }
  .dedicated-works .swiper-button-next, .dedicated-works .swiper-button-prev {
    display: none;
  }

  .detail-field {
    padding-top: 0;
  }

  .detail-select .select-title {
    font-size: 18px;
  }
  .detail-select .btn {
    font-size: 12px;
  }
  .detail-select .select-view {
    padding: 0 20px 0 10px;
  }
  .detail-select .select-view::before {
    right: 10px;
  }
  .detail-select .select-options {
    padding: 15px 8px;
  }

  .custom-select {
    flex: 1;
  }

  .detail-content {
    padding-top: 20px;
  }
  .detail-content p {
    font-size: 14px;
  }

  .radio-box .check {
    margin: 0 10px 0 0;
  }

  /*------------------------------------------------------------- danh sach chua viet*/
  .storage-online {
    padding: 30px 20px 20px;
    border: none;
  }
  .storage-online .storage-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .storage-online .storage-container {
    padding: 0;
    margin-top: 20px;
  }
  .storage-online .storage-top, .storage-online .storage-bot {
    grid-template-columns: repeat(2, 1fr);
  }
  .storage-online .storage-list-header {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 15px;
  }
  .storage-online .storage-bot {
    margin-top: 20px;
  }
  .storage-online .storage-list-option {
    padding: 5px 15px;
    max-height: 262px;
  }
  .storage-online .radio-box .check-txt {
    font-size: 12px;
    line-height: 22px;
  }
  .storage-online .form-control-group {
    height: 36px;
    padding: 6px 15px;
  }
  .storage-online .form-search-input::-webkit-input-placeholder {
    /* Internet Explorer */
    font-size: 12px;
    line-height: 20px;
  }
  .storage-online .form-search-input:-ms-input-placeholder {
    /* Internet Explorer */
    font-size: 12px;
    line-height: 20px;
  }
  .storage-online .form-search-input::placeholder {
    font-size: 12px;
    line-height: 20px;
  }
  .storage-online .storage-search-btn {
    font-size: 16px;
  }

  .search-btn {
    font-size: 12px;
  }

  .filter-block {
    padding: 0 20px;
  }
  .filter-block .filter-list {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  .filter-block .filter-item:last-child {
    width: 100%;
    margin: 0;
  }
  .filter-block .btn-filter-clear {
    width: 100%;
  }

  .search-result {
    padding: 20px;
  }
  .search-result .search-result-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .search-result .search-result-field {
    padding: 20px 0 0;
  }
  .search-result .search-result-heading {
    justify-content: space-between;
  }
  .search-result .search-result-one .search-result-txt:nth-child(1) {
    font-size: 18px;
  }
  .search-result .search-result-one .search-result-txt:nth-child(2) {
    font-size: 14px;
  }
  .search-result .search-result-two {
    margin-left: 0;
  }
  .search-result .search-result-two .search-result-txt {
    font-size: 14px;
  }
  .search-result .container-block-heading {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .search-result .container-block-address span {
    font-size: 14px;
  }
}
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }
}

/*# sourceMappingURL=responsive.css.map */
