.storage-online {
  border: 1px solid #999;
  margin-top: 50px;

  & .storage-heading {
    padding: 10px;
  }

  & .storage-container {
    padding: 30px 50px;
  }
}
.storage-top,
.storage-bot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.storage-search {
  grid-column: 2/5;

  & .form-control-group {
    height: 32px;
    padding: 6px 30px;
  }

  & .form-search-input {
    color: #999999;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }

  & .form-search-input::-webkit-input-placeholder {
    /* Internet Explorer */
    color: #999999;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }
  & .form-search-input:-ms-input-placeholder {
    /* Internet Explorer */
    color: #999999;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }

  & .form-search-input::placeholder {
    color: #999999;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }
}
.storage-list-header {
  padding: 4px 30px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;

  cursor: pointer;
}
.storage-search-group {
  & .storage-search-btn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
}
.storage-list-option {
  padding: 10px 30px;
  border: 0.5px solid #999;
  max-height: 272px;
  overflow: auto;
  background-color: #fff;
  display: none;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f2f2f4;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6d1d1d;
  }
  // &.active {
  //   display: block;
  // }
}

.storage-type {
  & .storage-list-header {
    padding: 10px 30px;
    background-color: #fff;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
  }
}
.storage-bot {
  margin-top: 28px;
}
.search-btn {
  padding: 8px;
  transition: 0.2s;
  border: 1px solid transparent;
  &:hover {
    background-color: #d1c9c9;
    border-color: #4f4f4f;
    color: #000;
  }
}
.storage-list {
  & .storage-list-down {
    transition: 0.4s;
  }
  &.active .storage-list-down {
    transform: rotate(180deg);
  }
}

.filter-list {
  margin: 50px 0 35px;
  flex-wrap: wrap;
  & .filter-item {
    margin-right: 20px;
    margin-bottom: 15px;
  }

  & .btn-filter {
    background-color: #f2f2f4;
    padding: 8px 20px;
  }

  & .btn-filter-clear {
    background-color: #6d1d1d;
  }
}
.search-result {
  & .search-result-field {
    padding-top: 50px;
  }
  & .search-result-two {
    margin-left: 50px;
  }

  & .search-result-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 32px;
    padding-bottom: 30px;
  }

  & .container-block-item {
    background-color: rgba(242, 242, 244, 0.5);
    border: 0.5px solid #999;
    padding: 18px 14px;
  }
}
