.media-back-cate {
  width: 40px;
  height: 115px;
  background-color: #fff;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6d1d1d;
  font-size: 18px;
  position: absolute;
  top: 100px;
  transition: all 0.2s linear;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.4);
  }
}
.lyrics-box {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  & .lyrics {
    padding: 40px 58px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  & .lyrics-container {
    max-width: 700px;
    max-height: 40vh;
    height: 100%;
    position: relative;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
  }
  & .lyrics-content p {
    margin-bottom: 15px;
  }
}

.control-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba($color: #6d1d1d, $alpha: 0.9);
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
  &.hide {
    background-color: transparent;

    & .control-bar__info,
    & .control-bar__dashboard {
      opacity: 0;
      visibility: hidden;
    }
  }
  & .control-bar__info {
    opacity: 1;
    visibility: visible;
    flex-shrink: 0;
  }
  & .control-bar__dashboard {
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-width: 700px;
    text-align: center;
    & .control {
      display: flex;
      align-items: center;
      justify-content: center;

      & .btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;

        & + .btn {
          margin-left: 25px;
        }
      }

      & .btn-random,
      & .btn-repeat {
        opacity: 0.6;
        transition: opacity 0.2s linear;
        &:hover,
        &.active {
          opacity: 1;
        }
        &.disable {
          pointer-events: none;
        }
      }
      & .btn-next,
      & .btn-prev {
        transition: all 0.2s ease-out;
        border-radius: 50%;
        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.1);
        }
      }
      & .btn-toggle-play {
        background-color: #fff;
        border-radius: 50%;
        color: #6d1d1d;
      }
    }

    & .range {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;

      & .range-progress {
        flex: 1;
        margin: 0 10px;
        display: flex;
        align-items: center;
      }

      & .range-progress input[type="range"] {
        width: 100%;
      }
    }
  }

  & .control-bar__side {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    & .control-bar__side-lyric {
      display: flex;
      align-items: center;
      cursor: pointer;
      & img {
        padding: 10px;
      }
    }

    & .volume {
      margin: 0 30px;
      cursor: pointer;
      display: flex;
      align-items: center;

      & .range-volumn {
        margin-left: 8px;
        display: flex;
        align-items: center;
        width: 116px;
      }

      & .js-volume {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    & .fullscreen-icon {
      padding: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  }
}

.range-input {
  background: linear-gradient(
    to left,
    rgba($color: #fff, $alpha: 0.3) 100%,
    #df9609 0%
  );
  height: 6px;
  max-width: 100%;
  width: 100%;
  position: relative;
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.range-input [type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 6px;
}
.range-input [type="range"]:focus {
  outline: none;
}
.range-input [type="range"]::-webkit-slider-runnable-track {
  background: transparent;
}
.range-input [type="range"]::-moz-range-track {
  background: transparent;
}
.range-input [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
}
.range-input [type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
}
.range-input [type="range"]::-ms-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
}
.range-input [type="range"]::-ms-fill-lower {
  background: #df9609;
}
.range-input [type="range"]::-ms-fill-upper {
  background: rgba($color: #fff, $alpha: 0.3);
}
.range-input [type="range"]::-ms-track {
  color: transparent;
  border: 0 solid transparent;
  background: transparent;
}
.range-input [type="range"]::-ms-tooltip {
  display: none;
}
