.media-wrapper {
  width: 100%;
  height: calc(100vh - 134px);
  overflow: hidden;
  position: relative;
}
.media-coating {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
}
.media-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // filter: brightness(0.5);
}
.media-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.media-sidebar {
  width: 300px;
  flex-shrink: 0;
  padding: 60px 0;
  height: 100%;
  background-image: linear-gradient(180deg, #000, transparent);
}
.media-content {
  flex: 1;
  padding: 60px 50px;
}
.media-sidebar__heading {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 40px;
}
.media-sidebar__list {
  height: 100%;
  overflow: auto;
  position: relative;
  padding-bottom: 100px;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}
.media-sidebar__item {
  &.active a {
    background-color: rgba(255, 255, 255, 0.15);
  }
  & a {
    display: block;
    padding: 40px;
    transition: all 0.2s linear;

    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
.media-content_top {
  display: flex;
  align-items: center;
}
.media-content__filter {
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
  padding-right: 50px;
}
.media-content__filter-select {
  display: flex;
  align-items: center;
}
.custom-select {
  position: relative;
  font-size: 14px;
  color: #fff;
  margin-left: 15px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 32px 8px 16px;
  border: 1px solid #fff;
  cursor: pointer;
  user-select: none;
  min-width: 120px;
}

.select-items {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.4);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.media-search {
  padding-left: 20px;
  flex: 1;
  & .form-control-group {
    height: 32px;
    padding: 6px 30px;
  }

  & .form-search-input {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
    background: transparent;
  }

  & .form-search-input::-webkit-input-placeholder {
    /* Internet Explorer */
    color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }
  & .form-search-input:-ms-input-placeholder {
    /* Internet Explorer */
    color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }

  & .form-search-input::placeholder {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: 600;
  }

  & .media-search-btn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
}
.media-content_bot {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 48px;
  height: 100%;
  overflow: auto;
  padding-bottom: 50px;

  & .container-block-item {
    background-color: #fff;
    padding: 20px 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}
// mobile
.media-wrapper-mb {
  background-color: #6d1d1d;
  padding: 30px 20px 40px 20px;
  height: 100vh;
  overflow: hidden;
  & .media-slider-top {
    position: relative;
  }
  & .media-slider-top__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    border: 1px solid #fff;
  }
  & .media-slider-top__list {
    max-height: 200px;
    overflow: auto;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: #651d1b;
    backdrop-filter: blur(10px);

    &.active {
      display: block;
    }
  }
  & .media-slider-top__item {
    &.active a {
      background-color: rgba(255, 255, 255, 0.15);
    }
    & a {
      display: block;
      padding: 10px;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    }
  }

  & .media-content_top {
    display: block;
    margin-top: 20px;
  }
  & .media-search {
    padding-left: 0;
  }
  & .media-search .form-control-group {
    padding-left: 0;
  }

  & .media-content__filter {
    border-right: none;
    padding-right: 0;
    justify-content: space-between;
    margin-top: 20px;
  }

  & .media-content__filter-select {
    justify-content: space-between;
    width: 100%;
  }
  & .custom-select {
    margin-left: 0;

    & + .custom-select {
      margin-left: 15px;
    }
  }

  & .container-block-item {
    display: flex;
    background-color: #fff;
  }
  & .container-block-img {
    width: 35%;
    flex-shrink: 0;
  }

  & .container-block-content {
    flex: 1;
    padding: 10px 8px;
  }

  & .media-content_bot-mb {
    max-height: 40vh;
    overflow: auto;
  }
}
