// max width 1400px
@media (max-width: 87.5em) {
  .wrapper,
  .main-block,
  .main-block2,
  .breadcrumb-dt {
    padding-left: 20px;
    padding-right: 20px;
  }

  // ----------------------------------------------------media
  .media-content_bot {
    grid-template-columns: repeat(3, 1fr);
  }
  // ----------------------------------------------------home
  .pagoda-ol-box {
    & .pagoda-ol-box__container {
      width: auto;
    }
  }
}
// max width 1280px
@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  /*-------------------------------------------------------------*/
}
// max width 1024px
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  /*-------------------------------------------------------------*/
  .header-nav-mb {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    & .navbar-item {
      font-size: 10px;
      line-height: 18px;
      text-transform: uppercase;
      & + .navbar-item {
        margin-left: 15px;
      }
    }
  }
  /*-------------------------------------------------------------*/
  #main:not(.main-media) {
    padding-bottom: 35px;
  }
  .top-main-mb {
    & img {
      width: 100%;
    }
  }
  .main-block {
    padding-top: 24px;

    & .heading-primary {
      font-size: 18px;
      line-height: 26px;
    }

    & .container-block {
      margin-top: 20px;
    }

    & .see-more {
      font-size: 12px;
    }
  }

  .updated-works,
  .dedicated-works {
    & .container-block {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    & .container-block-content {
      margin-top: 10px;
    }

    & .container-block-heading {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
    }

    & .container-block-author {
      display: none;
    }
  }

  .most-read-works {
    & .container-block {
      display: block;
      & .col {
        width: 100%;
      }
      & .col-title {
        font-size: 15px;
        line-height: 21px;
        color: #6d1d1d;
      }
    }

    & .col-item-heading {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 2px;
    }

    & .col-item-author {
      margin-bottom: 2px;
    }
  }

  .stories-chapters {
    & .heading-primary {
      border-bottom: none;
      text-align: center;
    }
    & .item-heading {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .footer-container {
    & p {
      font-size: 14px;
    }
  }
  .dedicated-works {
    & .swiper-pagination {
      bottom: -34px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
      display: none;
    }
  }
  .detail-field {
    padding-top: 0;
  }
  .detail-select {
    & .select-title {
      font-size: 18px;
    }
    & .btn {
      font-size: 12px;
    }

    & .select-view {
      padding: 0 20px 0 10px;
      &::before {
        right: 10px;
      }
    }

    & .select-options {
      padding: 15px 8px;
    }
  }
  .custom-select {
    flex: 1;
  }
  .detail-content {
    padding-top: 20px;
    & p {
      font-size: 14px;
    }
  }
  .radio-box .check {
    margin: 0 10px 0 0;
  }
  /*------------------------------------------------------------- danh sach chua viet*/
  .storage-online {
    padding: 30px 20px 20px;
    margin-top: 0;
    border: none;
    & .storage-heading {
      font-size: 16px;
      line-height: 24px;
    }
    & .storage-container {
      padding: 0;
      margin-top: 20px;
    }

    & .storage-top,
    & .storage-bot {
      grid-template-columns: repeat(2, 1fr);
    }
    & .storage-list-header {
      font-size: 12px;
      line-height: 20px;
      padding: 6px 15px;
    }

    & .storage-bot {
      margin-top: 20px;
    }

    & .storage-list-option {
      padding: 5px 15px;
      max-height: 262px;
    }

    & .radio-box .check-txt {
      font-size: 12px;
      line-height: 22px;
    }

    & .form-control-group {
      height: 36px;
      padding: 6px 15px;
    }
    & .form-search-input::-webkit-input-placeholder {
      /* Internet Explorer */
      font-size: 12px;
      line-height: 20px;
    }
    & .form-search-input:-ms-input-placeholder {
      /* Internet Explorer */
      font-size: 12px;
      line-height: 20px;
    }

    & .form-search-input::placeholder {
      font-size: 12px;
      line-height: 20px;
    }

    & .storage-search-btn {
      font-size: 16px;
    }
  }
  .search-btn {
    font-size: 12px;
  }
  .filter-block {
    padding: 0 20px;
    & .filter-list {
      margin: 0;
      padding: 20px 0;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
    }

    & .filter-item:last-child {
      width: 100%;
      margin: 0;
    }

    & .btn-filter-clear {
      width: 100%;
    }
  }
  .search-result {
    padding: 20px;
    & .search-result-container {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }

    & .search-result-field {
      padding: 20px 0 0;
    }

    & .search-result-heading {
      justify-content: space-between;
    }

    & .search-result-one {
      & .search-result-txt:nth-child(1) {
        font-size: 18px;
      }
      & .search-result-txt:nth-child(2) {
        font-size: 14px;
      }
    }

    & .search-result-two {
      margin-left: 0;

      & .search-result-txt {
        font-size: 14px;
      }
    }

    & .container-block-heading {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    & .container-block-address span {
      font-size: 14px;
    }
  }
  /*------------------------------------------------------------- detail chua viet*/
  .detail-pagoda-slider-img {
    height: 260px;
  }

  .detail-pagoda-map iframe {
    width: 100%;
  }
  .detail-pagoda-slider-seconadry {
    padding: 10px 20px;

    & .detail-pagoda-slider-content {
      display: block;
    }

    & .slider-content-left {
      padding-right: 0;
    }

    & .slider-content-left-txt {
      font-size: 14px;
    }

    & .slider-content-left-title {
      font-size: 20px;
      line-height: 38px;
      text-align: center;
    }

    & .mySwiperPogodaSecondaryTxt {
      margin-bottom: 20px;
    }

    & .detail-pagoda-slider-text.swiper-slide-thumb-active {
      border-width: 1px;
    }

    & .detail-pagoda-slider-text {
      padding: 10px 0;
      font-size: 12px;
      text-transform: uppercase;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
      color: #6d1d1d;

      &:after {
        font-size: 15px;
      }
    }

    & .swiper-button-next {
      right: -10px;
    }

    & .swiper-button-prev {
      left: -10px;
    }
  }
  .detail-pagoda-contact {
    display: block;
    border-bottom: none;
    padding: 20px;
    background-color: #f2f2f4;
    margin-bottom: 0;

    & .detail-pagoda-address {
      padding: 20px 0;
    }
    & .detail-pagoda-address-title {
      font-size: 18px;
      padding-bottom: 0;
    }
  }
  /*------------------------------------------------------------- danh xung phat giao*/
  .top-main-mb {
    & .alphabet-list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 15px;
    }
    & .alphabet-title {
      grid-column: 1/7;
      display: inline-block;
      border-bottom: 1px solid #6d1d1d;
    }
  }

  .character-list {
    display: block;

    & .character-title {
      font-size: 22px;
      line-height: 30px;
      margin-right: 15px;
    }

    & .character-content {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }

    & .character-txt {
      display: flex;
      flex-wrap: wrap;
      & li {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    & .character-item {
      margin-bottom: 20px;
      & .character-txt li + li {
        margin-top: 0;
      }
    }
  }
  /*------------------------------------------------------------- detail danh xung phat giao*/
  .buddhist-name-container-detail {
    margin: 20px;
    padding: 20px;

    & .buddhist-name-content-detail__title {
      font-size: 20px;
    }

    & .detail-content {
      max-height: fit-content;
    }
  }
  /*------------------------------------------------------------- detail tong phai phat giao*/
  .detail-field-sect {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #6d1d1d;

    & .detail-title {
      font-size: 20px;
      line-height: 38px;
      padding-bottom: 0;
      font-weight: 700;
    }

    & .detai-sapo {
      font-size: 14px;
    }
  }
  .related-news {
    & .related-container {
      // display: block;
      margin-top: 0;
    }

    & .related-item-title {
      font-size: 18px;
      margin-top: 10px;
    }

    & .related-item {
      margin-bottom: 16px;
    }
  }

  // -------------------------------------------------------------media
  .media-content_bot {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
// max width 992px
@media (max-width: 62em) {
}
// max width 768px
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  /*-------------------------------------------------------------*/
  .related-news {
    & .related-container {
      display: block;
      margin-top: 0;
    }
  }
  /*-------------------------------------------------------------home*/
  .classical-works {
    & .container-block {
      display: block;
    }

    & .container-block-heading {
      font-size: 16px;
      margin-bottom: 0;
    }

    & .container-block-item {
      margin-bottom: 30px;
    }

    & .see-more {
      margin-top: 10px;
    }
  }

  .pagoda-ol-box {
    padding: 0;
    & .pagoda-ol-box__container {
      padding: 80px 20px;
      width: 100%;
    }
    & .pagoda-ol-box__content {
      padding: 15px 20px;
    }

    & .container-block-heading {
      font-size: 18px;
      line-height: 26px;
    }

    & .pagoda-ol-box__img {
      min-height: 490px;
      width: 100%;
      object-fit: cover;
    }
  }
  .masonry-brick--h {
    flex: auto;
    height: 200px;
    min-width: 150px;
  }
  .masonry-brick--h:nth-child(3n + 1) {
    width: 320px;
  }
  .masonry-brick--h:nth-child(3n + 2) {
    width: 100px;
  }
  .masonry-brick--h:nth-child(3n + 3) {
    width: 320px;
  }

  .mindfulness-room {
    & .col-container {
      display: block;
    }
    & .mySwiperMindfulnessSecondary {
      margin-top: 15px;
    }
    & .mindfulness-tabs {
      margin-bottom: 0;
      border-bottom: none;
      justify-content: inherit;
    }
    & .mindfulness-item {
      padding-bottom: 10px;
      font-size: 16px;
      &.swiper-slide {
        width: 100% !important;
        margin: 0;
      }

      &.swiper-slide-thumb-active {
        border-width: 1px;
      }
    }
    & .col-item {
      width: 100%;
      padding: 20px 0;
      display: flex;
      border-top: 1px solid #d9d9d9;
    }
    & .col-item-heading {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 2px;
    }

    & .swiper-button-next {
      right: -10px;
    }
    & .swiper-button-prev {
      left: -10px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
      color: #6d1d1d;
    }
    & .swiper-button-next:after,
    & .swiper-button-prev:after {
      font-size: 15px;
    }
  }
}

// max width 640px
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  /*------------------------------------------------------home*/
  .masonry-brick--h {
    flex: auto;
    height: 120px;
    min-width: 100px;
  }
  .masonry-brick {
    margin: 0 0 4px 4px;
  }
  .masonry-brick--h:nth-child(3n + 1) {
    width: 180px;
  }
  .masonry-brick--h:nth-child(3n + 2) {
    width: 50px;
  }
  .masonry-brick--h:nth-child(3n + 3) {
    width: 150px;
  }
  .masonry-brick--h:nth-child(3n + 4) {
    width: 140px;
  }
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
}
@media (max-width: 20em) {
}
